.container {
  text-align: center;
  background-color: inherit;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.code {
  text-align: start;
  font-size: 20px;
  color: var(--ice-white);
}

h2 {
  margin-top: 0;
}

.header {
  font-family: 'Patrick hand';
  color: var(--orange);
  font-size: 46px;
}

.group-title {
  font-size: 25px;
  color: var(--light-purple);
  margin: 0.3rem auto;
}

.border-input {
  height: 40px;
  width: 200px;
  border-radius: 10px;
}

.inputs-container {
  display:flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.p-10 {
  padding: 10px;
  width: 400px;
  margin: auto 0;
}

.p-25 {
  padding: 15px 25px;
  margin: 0;
}

.config-group {
  display: flex;
  margin: 15px;
  gap: 10px;
  max-width: 350px;
  flex-wrap: wrap;
  flex: auto;
  flex-flow: column;
  align-items: center;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 4px var(--orange);
  height: 500px;
  width: 500px;
}
