@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Patrick+Hand&family=Smooch+Sans&display=swap');
@import './BorderPreviewer/borderPreviewer.css';

body {
  margin: 0;
  font-family: 'M PLUS Code Latin', sans-serif, 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-purple: #2a1724;
  --medium-purple: #513349;
  --light-purple: #9d6f89;
  --ice-white: #ede8db;
  --orange: #cb9729;
}